@import url('https://fonts.googleapis.com/css2?family=Glory:wght@100;200;400;700&display=swap');
html{
    background-color: #e3e3e3;
    background-image: url(./images/background1.jpg);
    margin: 0%;
    font-family: 'Glory', sans-serif;
    color: white;
}
body{
    margin: 1 0 1 0;
}
h1, p{
    margin: 0%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
p{
    display: inline-block;
}
#password-frame{
    margin: 0 auto;
}
iframe{
    height: 2rem;
    width: 100%;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 2em 2em 0em 2em;
}
button{
    font-size: 14px;
    min-height: 30px;
    min-width: 30px;
    padding: 4px 16px;
    /*border-radius: 100px;*/
}
#password-strength-meter {
    background-color: rgba(0, 0, 0, 0.1);
    width: 70%;
    box-sizing: border-box;
    border: solid 2px black; 
}
#output{
    margin-top: 1rem;
    width: 28rem;
    padding: 1rem;
    background-color: #37342f;
    box-shadow: 0px 0px 5px 4px rgba(189,175,175,0.74);
    -webkit-box-shadow: 0px 0px 5px 4px rgba(189,175,175,0.74);
    -moz-box-shadow: 0px 0px 5px 4px rgba(189,175,175,0.74);
}
#settings{
    padding: 2rem;

    background-color: #37342f;
    box-shadow: 0px 0px 5px 4px rgba(189,175,175,0.74);
    -webkit-box-shadow: 0px 0px 5px 4px rgba(189,175,175,0.74);
    -moz-box-shadow: 0px 0px 5px 4px rgba(189,175,175,0.74);
}