@import '/Glory/Glory-VariableFont_wght.ttf';
html{
    background-color: #e3e3e3;
    background-image: url(./images/background1.jpg);
    margin: 0%;
    margin-bottom: 5%;
    font-family: 'Glory';
    color: white;
    font-size: 20px;
    font-weight: 200;
}
input{
    font-size: 18px;
}
body{
    margin: 1 0 1 0;
}
h1, p{
    margin: 0%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    margin-bottom: 1rem;
}
#password-frame{
    margin: 0 auto;
}
#password{
    width: auto
}
#message-frame{
    margin-top: 1rem;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
button{
    font-size: 14px;
    min-height: 50px;
    min-width: 50px;
    padding: 4px 16px;
    border-radius: 100px;
}
#password-strength-meter {
    background-color: rgba(0, 0, 0, 0.1);
    width: 80%;
    box-sizing: border-box;
    border: solid 2px black; 
}
#output{
    margin-top: 1rem;
    padding: 1rem;
    background-color: #37342f;
    box-shadow: 0px 0px 5px 4px rgba(189,175,175,0.74);
    -webkit-box-shadow: 0px 0px 5px 4px rgba(189,175,175,0.74);
    -moz-box-shadow: 0px 0px 5px 4px rgba(189,175,175,0.74);
}
#settings{
    padding: 1rem;
    background-color: #37342f;
    box-shadow: 0px 0px 5px 4px rgba(189,175,175,0.74);
    -webkit-box-shadow: 0px 0px 5px 4px rgba(189,175,175,0.74);
    -moz-box-shadow: 0px 0px 5px 4px rgba(189,175,175,0.74);
}